  <div class="article-card">
    <a href=<%=article.url  %> class="card-up" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.35)), url(<%= article.img_url %>);">
      <h4><%= article.title %></h4>
      <div class="card-upvotes upvoted">  <%= article.upvotes.count %> <i class="fas fa-heart"></i></div>
    </a>
    <div class="card-down">
      <div class="card-content">
        <div class="card-theme-container">
          <% article.themes.each do |theme| %>
            <div class="user-theme-card"><%= theme.name %></div>
          <% end %>
        </div>
      </div>
      <div class="card-comments-section">
        <div class="comment-form"><input type="" name="" placeholder="Enter your comment"></div>
        <div class="comments-list"> <%= article.comments.count %> comments</div>
      </div>
    <div class="show-comments">
    </div>
    </div>
  </div>
